:root{
    --vermelho:#5e2129;
}


body{
    background-color:var(--vermelho);
    
}
header{
    
}
img{
    width: 10%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro{
    display: flex;
    background-color:palevioletred
    border-radius: 30px;
    border: dashed 3px blue

}

.img-intro{
    width: 20%;
}