:root{
    --preto:#000000;
}



header{
    background-color:var(--preto);
    color: white; 
}
img{
    width: 10%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro{
    display: flex;
    background-color:rgb(16, 17, 41);
    border-radius: 30px;
    border: dashed 3px;
    margin: 20px;
    padding: 40px;

}

.img-intro{
    width: 20%;
}
.equipe{
    text-align: center;
}
.fotos-integrantes{
    display: grid;
    grid-template-columns: 50% 50%;
}
.ft-integrante{
    width: 50%;
}